<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="static/images/icon.png" type="image/png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TigerPlan - Classboard</title>
<style> 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#right-container {
  width: 65%; /* Adjust based on your layout */
  float: left; /* If you are using a float-based layout */
  /* For Flexbox, you'd adjust accordingly */
}

#drop-area {
  min-height: 450px;
  max-height: 450px; /* Set the maximum height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  background-color:  #ADD7cd; 
  border: 2px dashed #CCCCCC;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Enable wrapping of items */
  justify-content: space-between; /* Distribute items evenly between columns */
  margin-bottom: 20px; /* Spacing between this container and the button */
}

.grid-item {
  width: calc(50% - 10px); /* Calculate width for two columns with gap */
  height: auto; /* Set a fixed height for each item */
  margin-bottom: 10px;
  padding: 20px;
  background-color: #ffd699;
  border-radius: 20px;
  cursor: move;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

#drop-area p {
  color: #666666; /* A light text color that's easy on the eyes */
  font-size: 20px; /* Large enough to be easily readable */
}



#left-container {
  min-height: 450px;
  max-height: 450px; /* Set the maximum height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  width: 30%; /* Adjust width as necessary */
  background-color: #0FA3B1; /* For contrast against the class items */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  margin-right: 20px; /* Spacing between this container and whatever is to the right */
  margin-left: 20px; /* Spacing between this container and whatever is to the right */
  float: left; /* Align it to the left */
}

#class-input {
  width: 95%; /* Full width of the container */
  padding: 10px; /* Padding for aesthetic spacing inside the input */
  border: none; /* Removes border */
  border-bottom: 1px solid #ccc; /* Adds a light border to the bottom edge */
  font-size: 16px; /* Increases font size for readability */
  margin: 10px; /* Spacing around the input */
}

#class-list {
  padding: 10px; /* Padding inside the container around the class items */
}

body {
  background-color: #C8F6EB;
  font-family: 'Roboto Serif', serif;
}

#container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #F7A072;
  border-radius: 20px;
  cursor: move; /* Indicate draggable items */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.course h2, .course p {
  margin: 0;
}


.custom-link {
  text-decoration: none; /* This removes the underline */
  color: inherit; /* This will make the text use the color of its parent elements, or you can set a specific color */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#recommend-minors-btn {
  display: block;
  width: 30%;
  align-items: center;
  margin-bottom: 50px;
}

.grid-item button {
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50; /* Green background for add */
  color: white;
}

.grid-item button:last-of-type {
  background-color: #f44336; /* Red background for remove */
}

</style>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/try_style.css') }}" >
</head>
<body>

  {% set username = username %}
  {% include 'header.html' %}

<main>
  <section id="main-content" ondrop="drop(event)" ondragover="allowDrop(event)">
    <p><span class="roboto">What's </span><span class="caveat">your </span><span class="roboto">best minor?</span></p>
  </section>
  <p><center id="sub">Search for your classes and drag them to your class board!</center></p>
  <br>
  
  <section id="class-selection">
    <div id="left-container" ondrop="drop(event)" ondragover="allowDrop(event)">
      <input type="text" id="class-input" placeholder="Search classes...">
      <div id="class-list">
        
        <!-- Repeat for each class -->
      </div>
    </div> 
  </section>


  <div id="right-container">
    <div id="drop-area" ondrop="drop_area(event)" ondragover="allowDrop(event)">
      <center id="placeholder"><p>Drag your classes here</p></center>
    </div>
  </div>


  <div id="button-container"> 
    <center>
      <button id="recommend-minors-btn" onclick="window.location.href='/recommend'">Recommend Minors</button>
    </center>
  </div>
</main>

<script>

  'use strict';

  // Function to display a placeholder message in the drop area if it's empty
  function displayMessage() {
    let dropArea = document.getElementById('drop-area');
    console.log(`Drop area has ${dropArea.children.length} children`);

    if (dropArea.children.length === 0) {
      // Add the placeholder message
      console.log(`Placeholder not found!`);
      dropArea.innerHTML = '<center id="placeholder"><p>Drag your classes here</p></center>';
    } else {
      console.log(`Child 0 id is ${dropArea.children[0].id}`);
      if (dropArea.children[0].id === 'placeholder') {
        console.log(`Placeholder found!`);
        // Remove the placeholder message
        dropArea.removeChild(dropArea.children[0]);
      }
    }
  }

  // Function to allow dropping elements into the drop area
  function allowDrop(ev) {
    ev.preventDefault();
  }

  // Function to handle the start of a drag operation
  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }

  // Function to handle dropping elements into the drop area
  function drop_area(ev) {
    ev.preventDefault();
    console.log(`Drop area called!`);
    

    let data = ev.dataTransfer.getData("text");
    let dropArea = document.getElementById('drop-area');
    console.log(`Drop area has ${dropArea.children.length} children`)
    console.log(`Data is ${data}`)

    

    // Check if the course is already in the drop area
    let id = data + '-container';
    console.log(`ID is ${id}`);
    let existingElement = document.getElementById(id);
    if (existingElement) {
        // If the course is already in the drop area, don't add it again
        return;
    }

    // Get course details from the dragged element
    let courseElement = document.getElementById(data);
    let courseId = courseElement.id;
    let courseNum = courseElement.querySelector('h2').textContent;
    let courseTitle = courseElement.querySelector('p').textContent;

    // Add the course to the drop area
    addCourseToDropArea(courseId, courseNum, courseTitle);

    // Encode course data into URL parameters
    let encodedCourseId = encodeURIComponent(courseId);
    let encodedCourseNum = encodeURIComponent(courseNum);
    let encodedCourseTitle = encodeURIComponent(courseTitle);

    // Construct the URL for adding the course to the database
    let url = `/addcourse?courseId=${encodedCourseId}&courseNum=${encodedCourseNum}&title=${encodedCourseTitle}`;

    // Send a POST request to the server
    let request = new XMLHttpRequest();
    request.open('POST', url);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        console.log('Course successfully added to database');
        load_area();
        // Optionally handle success response
      } else {
        console.error('Error: Failed to add course to database');
        // Optionally handle error response
      }
    };
    request.onerror = function() {
      console.error('Error: Request to add course failed');
      // Optionally handle request error
    };
    request.send();
  }

  // Function to add a course to the drop area
  function addCourseToDropArea(courseId, courseNum, courseTitle) {
    let dropArea = document.getElementById('drop-area');

    // Create a new grid item container for the dropped course
    const newCourseContainer = document.createElement('div');
    newCourseContainer.classList.add('grid-item');
    newCourseContainer.id = courseId + '-container';
    newCourseContainer.draggable = true;
    newCourseContainer.ondragstart = function() { drag(event); };

    // Populate the new container with course details
    newCourseContainer.innerHTML = `
      <h2>${courseNum}</h2>
      <p>${courseTitle}</p>
      <button class="remove-course-btn" data-course-id="${courseId}-container">-</button>
    `;

    // Append the new grid item container to the drop area
    dropArea.appendChild(newCourseContainer);
    displayMessage();
  }

  // Function to handle dropping elements into the drop area
  function drop(ev) {
    ev.preventDefault();
    let data = ev.dataTransfer.getData("text");

    let courseElement = document.getElementById(data);
    if (courseElement) {
      // Extract course ID from the element ID
      let courseId = courseElement.id.slice(0, courseElement.id.indexOf('-container'));

      // Remove the course from the UI
      courseElement.parentNode.removeChild(courseElement);
      displayMessage();

      // Encode course data into URL parameters
      let encodedCourseId = encodeURIComponent(courseId);

      // Construct the URL for removing the course from the database
      let url = `/removecourse?courseId=${encodedCourseId}`;

      // Send a POST request to the server
      let request = new XMLHttpRequest();
      request.open('POST', url);
      request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
          console.log('Course successfully removed from database');
          load_area();
          // Optionally handle success response
        } else {
          console.error('Error: Failed to remove course from database');
          // Optionally handle error response
        }
      };
      request.onerror = function() {
        console.error('Error: Request to remove course failed');
        // Optionally handle request error
      };
      request.send();
    }
  }

  // Function to handle search response
  function handleSearchResponse() {
    if (this.status !== 200) {
      alert('Error: Failed to fetch data from server');
      return;
    }
    let resultsDiv = document.getElementById('class-list');
    //console.log(this.responseText);
    resultsDiv.innerHTML = this.responseText;
  }

  // Function to handle search error
  function handleSearchError() {
    alert('Error: Failed to fetch data from server');
  }

  // Function to perform a search and display results
  function getResults() {
    let courseInput = document.getElementById('class-input');
    let course = courseInput.value;
    let encodedCourse = encodeURIComponent(course);
    let url = '/searchresults?course=' + encodedCourse;

    let request = new XMLHttpRequest();
    request.onload = handleSearchResponse;
    request.onerror = handleSearchError;
    request.open('GET', url);
    request.send();
  }

  // Function to debounce search input
  let timer = null;
  function debouncedGetResults() {
    clearTimeout(timer);
    timer = setTimeout(getResults, 500);
  }

  // Function to initialize event listeners
  function setup() {
    let courseInput = document.getElementById('class-input');
    courseInput.addEventListener('input', debouncedGetResults);
  }

  // Function to load initial area content
  function load_area() {
    let dropArea = document.getElementById('drop-area');
    let url = '/loadarea';

    let request = new XMLHttpRequest();
    request.onload = function() {
      if (request.status === 200) {
        dropArea.innerHTML = request.responseText;
      } else {
        alert('Error: Failed to load classes');
      }
    };
    request.onerror = function() {
      alert('Error: Failed to load classes');
    };
    request.open('GET', url);
    request.send();
  }

  function addCourse(courseId) {
    // Find the course element in the search results using the courseId
    let courseElement = document.getElementById(courseId);
    if (courseElement) {

      let dropArea = document.getElementById('drop-area');

      // Check if the course is already in the drop area
      let id = courseId + '-container';
      let existingElement = document.getElementById(id);
      if (existingElement) {
          // If the course is already in the drop area, don't add it again
          return;
      }
      else {
        // Create a new course item in the drop area
        let courseNum = courseElement.querySelector('h2').textContent;
        let courseTitle = courseElement.querySelector('p').textContent;

        addCourseToDropArea(courseId, courseNum, courseTitle);

        // Encode course data into URL parameters
        let encodedCourseId = encodeURIComponent(courseId);
        let encodedCourseNum = encodeURIComponent(courseNum);
        let encodedCourseTitle = encodeURIComponent(courseTitle);

        // Construct the URL for adding the course to the database
        let url = `/addcourse?courseId=${encodedCourseId}&courseNum=${encodedCourseNum}&title=${encodedCourseTitle}`;

        // Send a POST request to the server
        let request = new XMLHttpRequest();
        request.open('POST', url);
        request.onload = function() {
          if (request.status >= 200 && request.status < 400) {
            console.log('Course successfully added to database');
            load_area();
            // Optionally handle success response
          } else {
            console.error('Error: Failed to add course to database');
            // Optionally handle error response
          }
        };
        request.onerror = function() {
          console.error('Error: Request to add course failed');
          // Optionally handle request error
        };
        request.send();
      }
    }
  }

  function removeCourse(courseId) {
    console.log(`Removing course: ${courseId}`)
    let courseElement = document.getElementById(courseId);
    if (courseElement) {
      // Extract course ID from the element ID
      let id = courseId.slice(0, courseId.indexOf('-container'));

      // Remove the course from the UI
      courseElement.parentNode.removeChild(courseElement);
      displayMessage();

      // Encode course data into URL parameters
      let encodedCourseId = encodeURIComponent(id);

      // Construct the URL for removing the course from the database
      let url = `/removecourse?courseId=${encodedCourseId}`;

      // Send a POST request to the server
      let request = new XMLHttpRequest();
      request.open('POST', url);
      request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
          console.log('Course successfully removed from database');
          load_area();
          // Optionally handle success response
        } else {
          console.error('Error: Failed to remove course from database');
          // Optionally handle error response
        }
      };
      request.onerror = function() {
        console.error('Error: Request to remove course failed');
        // Optionally handle request error
      };
      request.send();
    }
  }

  // Add event listeners once the DOM content is loaded
  document.addEventListener('DOMContentLoaded', setup);
  document.addEventListener('DOMContentLoaded', load_area);
  // Add event listener to the document to handle clicks on add-course buttons
  document.addEventListener('click', function(event) {
    // Check if the clicked element is a button with the class 'add-course-btn'
    if (event.target && event.target.classList.contains('add-course-btn')) {
      // Get the course ID from the data-course-id attribute of the clicked button
      let courseId = event.target.getAttribute('data-course-id');

      // Call the addCourse function with the courseId
      addCourse(courseId);
    }
  });

  document.addEventListener('click', function(event) {
    // Check if the clicked element is a button with the class 'add-course-btn'
    if (event.target && event.target.classList.contains('remove-course-btn')) {
      // Get the course ID from the data-course-id attribute of the clicked button
      let courseId = event.target.getAttribute('data-course-id');

      // Call the addCourse function with the courseId
      removeCourse(courseId);
    }
  });

  /*'use strict';
  function displayMessage() {
    // Check if the drop area has the placeholder message
    let dropArea = document.getElementById('drop-area');
    console.log(`Drop area has ${dropArea.children.length} children`)

    if (dropArea.children.length === 0) {
      // add the placeholder message
      console.log(`Placeholder not found!`);
      dropArea.innerHTML = '<center id="placeholder"><p>Drag your classes here</p></center>';
    }
    else {
      console.log(`Child 0 id is ${dropArea.children[0].id}`)
      if (dropArea.children[0].id === 'placeholder') {
        console.log(`Placeholder found!`);
        // remove the placeholder message
        dropArea.removeChild(dropArea.children[0]);
      }
    }
  }

  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }

  function drop_area(ev) {
    ev.preventDefault();
    console.log(`Drop area called!`);
  
    // Get the ID of the dragged element
    let data = ev.dataTransfer.getData("text");
    let dropArea = document.getElementById('drop-area');
    for (let i = 0; i < dropArea.children.length; i++) {
      let id = data + '-container';
      if (dropArea.children[i].id === id || data.includes('container')) {
        // If the course is already in the drop area, don't add it again
        return;
      }
    }
    

    let courseElement = document.getElementById(data); // Get the dragged course element
    let courseId = courseElement.id; // Extract course ID from the element ID
    let courseNum = courseElement.querySelector('h2').textContent; // Extract course title
    let courseTitle = courseElement.querySelector('p').textContent; // Extract course description

    // Immediately add the course to the UI (assuming it will be successfully added to database)
    addCourseToDropArea(courseId, courseNum, courseTitle);

    console.log(`${courseId}`);
    console.log(`${courseNum}`);
    console.log(`${courseTitle}`);

    // Encode course data into URL parameters
    let encodedCourseId = encodeURIComponent(courseId);
    let encodedCourseNum = encodeURIComponent(courseNum);
    let encodedCourseTitle = encodeURIComponent(courseTitle);

    // Construct the URL with encoded course data
    let url = `/addcourse?courseId=${encodedCourseId}&courseNum=${encodedCourseNum}&title=${encodedCourseTitle}`;

    // Send a POST request to the server
    let request = new XMLHttpRequest();
    request.open('POST', url);
    request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
            console.log('Course successfully added to database');
            load_area();
            // Optionally handle success response
        } else {
            console.error('Error: Failed to add course to database');
            // Optionally handle error response
        }
    };
    request.onerror = function() {
        console.error('Error: Request to add course failed');
        // Optionally handle request error
    };
    request.send();
  }

  // Function to add course to drop area
  function addCourseToDropArea(courseId, courseNum, courseTitle) {
    let dropArea = document.getElementById('drop-area');

    // Create a new grid item container for the dropped course
    const newCourseContainer = document.createElement('div');
    newCourseContainer.classList.add('grid-item');
    newCourseContainer.id = courseId + '-container';
    newCourseContainer.draggable = true;
    newCourseContainer.ondragstart = function() { drag(event); };

    // Populate the new container with course details
    newCourseContainer.innerHTML = `
      <h2>${courseNum}</h2>
      <p>${courseTitle}</p>
      <button onclick="addCourse('${courseId}')">+</button>
      <button onclick="removeCourse('${courseId}')">-</button>
    `;

    // Append the new grid item container to the drop area
    dropArea.appendChild(newCourseContainer);
    displayMessage();

    // Optionally update UI or provide visual feedback (e.g., display success message)
  }

  function drop(ev) {
    ev.preventDefault();
    let data = ev.dataTransfer.getData("text");
    
    console.log(`Dropped ${data}`);
    let courseElement = document.getElementById(data); // Get the dragged course element
    let courseId = courseElement.id; // Extract course ID from the element ID
    // remove the "-container" suffix from the course ID
    courseId = courseId.slice(0, courseId.indexOf('-container'));
    let courseNum = courseElement.querySelector('h2').textContent; // Extract course title
    // remove the "-container" suffix from the course number
    courseNum = courseNum.slice(0, courseNum.indexOf('-container'));
    let courseTitle = courseElement.querySelector('p').textContent; // Extract course description

    // Immediately remove the course from UI (assuming it will be successfully removed from database)
    courseElement.parentNode.removeChild(courseElement);
    displayMessage();

    console.log(`CourseId: ${courseId}`);
    console.log(`CourseNum: ${courseNum}`);
    console.log(`CourseTitle: ${courseTitle}`);

    // Encode course data into URL parameters
    let encodedCourseId = encodeURIComponent(courseId);
    let encodedCourseNum = encodeURIComponent(courseNum);
    let encodedCourseTitle = encodeURIComponent(courseTitle);


    // Construct the URL with encoded course data
    let url = `/removecourse?courseId=${encodedCourseId}&courseNum=${encodedCourseNum}&title=${encodedCourseTitle}`;

    // Send a POST request to the server
    let request = new XMLHttpRequest();
    request.open('POST', url);
    request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
            console.log('Course successfully removed database');
            load_area();
            // Optionally handle success response
        } else {
            console.error('Error: Failed to remove course from database');
            // Optionally handle error response
        }
    };
    request.onerror = function() {
        console.error('Error: Request to remove course failed');
        // Optionally handle request error
    };
    request.send();
    
  }

  function handleSearchResponse() {
    if (this.status !== 200) {
        alert('Error: Failed to fetch data from server');
        return;
    }
    let resultsDiv = document.getElementById('class-list');
    console.log(this.responseText);
    resultsDiv.innerHTML = this.responseText;
  }

  function handleSearchError() {
    alert('Error: Failed to fetch data from server');
  }

  let request = null;

  function getResults() {
    let courseInput = document.getElementById('class-input');
    let course = courseInput.value;
    let encodedCourse = encodeURIComponent(course);
    let url = '/searchresults?course=' + encodedCourse;
    if (request !== null)
        request.abort();
    request = new XMLHttpRequest();
    request.onload = handleSearchResponse;
    request.onerror = handleSearchError;
    request.open('GET', url);
    request.send();
  }

  function addCourse(courseId) {
      console.log("Adding course: " + courseId);
      drop(courseId)
  }

  function removeCourse(courseId) {
      console.log("Removing course: " + courseId);
      let element = document.getElementById(courseId + '-container');
      if (element) {
          element.parentNode.removeChild(element);
          displayMessage(); // Refresh the display message
      }
  }

  let timer = null;

  function debouncedGetResults() {
    clearTimeout(timer);
    timer = setTimeout(getResults, 500);
  }

  function setup() {
    let courseInput = document.getElementById('class-input');
    courseInput.addEventListener('input', debouncedGetResults);
  }

  function load_area() {
    let dropArea = document.getElementById('drop-area');
    let url = '/loadarea';
    let request = new XMLHttpRequest();
    request.open('GET', url);
    request.onload = function() {
      if (request.status === 200) {
        dropArea.innerHTML = request.responseText;
      }
      else {
        alert('Error: Failed to load classes');
      }
    };
    request.onerror = function() {
      alert('Error: Failed to load classes');
    };
    request.send();
  }

  document.addEventListener('DOMContentLoaded', setup);
  document.addEventListener('DOMContentLoaded', load_area);*/
</script>

</body>
</html>
