<style>
    .course-info {
        display: flex; /* Use flexbox for layout inside the grid-item */
        align-items: center; /* Center align items vertically */
    }

    .course-info h2 {
        margin-right: 10px; /* Add spacing between h2 and button */
    }

    .grid-item p {
        margin: 0;
    }
</style>
{% if classes %}
    {% for course in classes %}
        <div class="grid-item" draggable="true" ondragstart="drag(event)" id="{{ course.id }}-container">
            <span class="course-info">
                <h2 id="{{course.coursenum}}">{{ course.coursenum }}</h2>
                <button class="remove-course-btn" data-course-id="{{ course.id }}-container">-</button>
            </span>
            <p id= "{{course.title}}"> {{ course.title }}</p>
        </div>
    {% endfor %}
{% else %}
<center id="placeholder"><p>Drag your classes here!</p></center>
{% endif %}