<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TigerPlan</title>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/try_style.css') }}" >
</head>
<body>

{% set username = username %}
{% if username %}
{% include 'header.html' %}
{% else %}
{% include 'homepageheader.html' %}
{% endif %}

<main>
  <section id="main-content">
    <p>{{error}}</p>
    <p>Go to <a href="https://tigerplan.onrender.com">tigerplan.onrender.com</a> to try again</p>
  </section>
</main>

</body>
</html>
