<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Serif&display=swap" rel="stylesheet" />    
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/try_style.css') }}" >

    <title>Document</title>
</head>
<body>
    <div class="v44_10">
        <div class="v44_9">
            <div class="v17_68"></div>
            <span class="v17_69">Username here</span>

            <span class="v17_69">{{username}}</span>

            <span class="v17_69">Classes here</span>

            <span class="v17_69">{{classes}}</span>


            <div class="v17_68"></div>
            <span class="v17_69">What's your best minor?</span>
            <div class="v17_137"></div>
            <div class="v17_163"></div>
            <span class="v17_164">Recommend Minors</span>
            <div class="v17_70"></div>
            <span class="v17_71">TigerPlan</span>
            <span class="v17_72">Your Recommendations</span>
            <span class="v17_73">Your Classes</span>
            <span class="v17_74">About TigerPlan</span>
            <div class="name"></div>
            <div class="name"></div>
        </div>
        <div class="v44_2">
            <div class="v17_90"></div>
            <div class="v44_3">
                <div class="v17_115"></div>
                <span class="v17_116">COS 445</span>
                <span class="v17_118">Economics and Computing</span>
                <div class="v17_177"></div>
            </div>
            <div class="v49_22">
                <div class="v35_134">
                    <div class="v17_76"></div>
                    <span class="v17_99">COS 333</span>
                    <div class="v17_176"></div>
                    <span class="v17_105">Advanced Programming Techniques</span>
                </div>
            </div>
            <div class="v44_4">
                <div class="v17_119"></div>
                <span class="v17_120">COS 217</span>
                <span class="v17_122">Introduction to Programming Systems</span>
                <
