<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="static/images/icon.png" type="image/png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TigerPlan - Home</title>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/try_style.css') }}" >

<style>
  
  video {
    display: block;
    margin: 0 auto;
  }
  .container video {
    display: flex;
    justify-content: center;
    text-align:center;
  }


</style>

</head>
<body>

{% set username = username %}
{% if username %}
{% include 'header.html' %}
{% else %}
{% include 'homepageheader.html' %}
{% endif %}
<main>
  <section id="main-content">
    <p>TigerPlan helps Princeton students find <br>minors that fit with their classes.</p>
    <div class="button-container">
        {% if username %}
        <button onclick="location.href='/classboard'">Click here to go to your classboard!</button>
        {% else %}
        <button onclick="location.href='/login'">Login for your recommendations!</button>
        {% endif %}
      </div>
  </section>

  <div class = "container"> 
    <br>
    <video width="640" height="360"  controls autoplay muted style="margin: 0 auto;">
      <source src="{{ url_for('static', filename='video/tigerplan_tutorial_vid.mp4') }}" type="video/mp4">
      Your browser does not support the video tag.
  </video>
  </div>
  
</main>

</body>
</html>
