* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v44_10 {
  width: 100%;
  height: 982px;
  background: url("../images/v44_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v44_9 {
  width: 100%;
  height: 982px;
  background: url("../images/v44_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_68 {
  width: 100%;
  height: 982px;
  background: rgba(200,246,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_69 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 154px;
  left: 0px;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v17_137 {
  width: 659px;
  height: 61px;
  background: rgba(247,160,114,1);
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 651px;
}
.v17_163 {
  width: 419px;
  height: 116px;
  background: rgba(255,155,66,1);
  opacity: 1;
  position: absolute;
  top: 823px;
  left: 728px;
  border: 0px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v17_164 {
  width: 344px;
  color: rgba(45,43,34,1);
  position: absolute;
  top: 829px;
  left: 690px;
  font-family: Caveat Brush;
  font-weight: Regular;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}
.v17_70 {
  width: 100%;
  height: 129px;
  background: rgba(15,163,177,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 10px;
  border: 0px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_71 {
  width: 305px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v17_72 {
  width: 390px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 586px;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v17_73 {
  width: 238px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 518px;
  font-family: Roboto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v17_74 {
  width: 238px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 264px;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v44_2 {
  width: 332px;
  height: 578px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 117px;
  overflow: hidden;
}
.v17_90 {
  width: 332px;
  height: 578px;
  background: rgba(15,163,177,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v44_3 {
  width: 303px;
  height: 93px;
  background: url("../images/v44_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 15px;
  overflow: hidden;
}
.v17_115 {
  width: 303px;
  height: 93px;
  background: rgba(247,160,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_116 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 79px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v17_118 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 25px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v17_177 {
  width: 33px;
  height: 32px;
  background: url("../images/v17_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 254px;
  overflow: hidden;
}
.v49_22 {
  width: 303px;
  height: 93px;
  background: url("../images/v49_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 15px;
  overflow: hidden;
}
.v35_134 {
  width: 303px;
  height: 93px;
  background: url("../images/v35_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_76 {
  width: 303px;
  height: 93px;
  background: rgba(247,160,114,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_99 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 79px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v17_176 {
  width: 33px;
  height: 32px;
  background: url("../images/v17_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 254px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v17_105 {
  width: 236px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 51px;
  left: 25px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v44_4 {
  width: 303px;
  height: 93px;
  background: url("../images/v44_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 309px;
  left: 15px;
  overflow: hidden;
}
.v17_119 {
  width: 303px;
  height: 93px;
  background: rgba(247,160,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_120 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 79px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v17_122 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 30px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v17_178 {
  width: 33px;
  height: 32px;
  background: url("../images/v17_178.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 254px;
  overflow: hidden;
}
.v44_5 {
  width: 303px;
  height: 93px;
  background: url("../images/v44_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 15px;
  overflow: hidden;
}
.v17_123 {
  width: 303px;
  height: 93px;
  background: rgba(247,160,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_124 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 79px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v17_126 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 33px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v17_179 {
  width: 33px;
  height: 32px;
  background: url("../images/v17_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 255px;
  overflow: hidden;
}
.v44_7 {
  width: 303px;
  height: 43px;
  background: url("../images/v44_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 15px;
  overflow: hidden;
}
.v17_91 {
  width: 303px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_92 {
  width: 179px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 7px;
  left: 62px;
  font-family: Caveat Brush;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v17_127 {
  width: 140px;
  color: rgba(217,229,214,1);
  position: absolute;
  top: 487px;
  left: 193px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v49_11 {
  width: 751px;
  height: 536px;
  background: url("../images/v49_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 602px;
  overflow: hidden;
}
.v49_17 {
  width: 303px;
  height: 104px;
  background: url("../images/v49_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 84px;
  overflow: hidden;
}
.v17_157 {
  width: 303px;
  height: 104px;
  background: rgba(237,222,164,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_158 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 79px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v17_160 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v49_16 {
  width: 303px;
  height: 104px;
  background: url("../images/v49_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 54px;
  overflow: hidden;
}
.v17_153 {
  width: 303px;
  height: 104px;
  background: rgba(237,222,164,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_154 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 79px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v17_156 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v49_28 {
  width: 303px;
  height: 104px;
  background: url("../images/v49_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 84px;
  overflow: hidden;
}
.v49_15 {
  width: 303px;
  height: 104px;
  background: url("../images/v49_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_149 {
  width: 303px;
  height: 104px;
  background: rgba(237,222,164,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_150 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 79px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v17_152 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v49_27 {
  width: 303px;
  height: 104px;
  background: url("../images/v49_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 49px;
  overflow: hidden;
}
.v49_14 {
  width: 303px;
  height: 104px;
  background: url("../images/v49_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_145 {
  width: 303px;
  height: 104px;
  background: rgba(237,222,164,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_146 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 79px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v17_148 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v49_21 {
  width: 303px;
  height: 104px;
  background: url("../images/v49_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 54px;
  overflow: hidden;
}
.v49_12 {
  width: 303px;
  height: 104px;
  background: url("../images/v49_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_133 {
  width: 303px;
  height: 104px;
  background: rgba(237,222,164,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_134 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 79px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v17_136 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v49_26 {
  width: 303px;
  height: 104px;
  background: url("../images/v49_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 84px;
  overflow: hidden;
}
.v49_13 {
  width: 303px;
  height: 104px;
  background: url("../images/v49_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_141 {
  width: 303px;
  height: 104px;
  background: rgba(237,222,164,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_142 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 79px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v17_144 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Roboto Serif;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v17_140 {
  width: 456px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 297px;
  left: 746px;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}
